/*
    1 variables
    2 Nesting
    3 operators
    4 maps
*/


$heading-color:#80d9c3;
$background-color:#50647c;
$font-color:#81818d;

@mixin common-btn ($btnc) {
    background:#14a78d;
    width: 30%;
    color: white;
}

@mixin common-fig{
    background:#14a78d;
    width: 20%;
}


header{
    background-color: $background-color;

    nav{
   
        a{
            color: white;
            font-weight: 600;
        }
    }

}

.hero{
    padding: 40px 0;
    background: #14a78d ;

    button{
        background: #ffffff;
        color:$heading-color ;  
        font-weight: 600; 
    }    
}

.team{
    padding: 40px 0;
    background: $background-color;

    .content{
        h2{
            color:$heading-color ;
        }
        p{
            color:$font-color;
        }
    }    
}

.features{
    padding: 40px 0;

    figure{
       @include common-fig;
    }
    button{
        @include common-btn;
    }

}

.features{
    h6{
        color: $heading-color;
    }
}

.form-Area{
    padding: 40px 0;
    background: #38475a;


    h3,h5{
        color: #24906c;
    }
    p{
       color: #757f8b; 
    }
    
    .form-control{
        background: transparent;
    }

    .content-head{
        figure{
            @include common-fig
        }
    }
}

